<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TestSearch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <TestSearch.Properties.Settings>
            <setting name="targetDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="inText" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="binaryCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pattern" serializeAs="String">
                <value />
            </setting>
            <setting name="wildcards" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="folders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="caseSensitive" serializeAs="String">
                <value>False</value>
            </setting>
        </TestSearch.Properties.Settings>
    </userSettings>
</configuration>
